
    <!-- Navigation sidebar start-->
    <aside
      class="fixed top-0 left-0 h-[100dvh] bg-white flex flex-col justify-between items-center z-[999] pt-8 space-y-6"
      style="box-shadow: 1px 3px 10px rgb(0, 0, 0, 0.2)"
      id="aside-nav"
      aria-label="Sidebar navigation" >
      <div class="space-y-6">
        <a
          class="sidebar-icon px-7 pt-5 pb-3 flex flex-col items-center justify-center space-y-3 bg-tints-of-blue rounded-xl hover:transition hover:duration-300 hover:ease-in-out hover:shadow-2xl"
          aria-label="Home"
          id="home"
          href="?tab=home"
        >
          <div class="">
            <img src="{{ asset('build/images/svg/home-white.svg') }}" alt="Home">
          </div>
          <span class="text-xs font-semibold">HOME</span>
        </a>
        <a
          class="sidebar-icon px-7 pt-5 pb-3 flex flex-col items-center justify-center space-y-3 bg-tints-of-blue rounded-xl hover:transition hover:duration-300 hover:ease-in-out hover:shadow-2xl"
          aria-label="Assets"
          id="assets"
          href="?tab=assets"
        >
          <div class="">
            <img src="{{ asset('build/images/svg/assets-black.svg') }}" alt="Assets">
          </div>
          <span class="text-xs font-semibold">ASSETS</span>
        </a>
        <a
          class="sidebar-icon px-7 pt-5 pb-3 flex flex-col items-center justify-center space-y-3 bg-tints-of-blue rounded-xl hover:transition hover:duration-300 hover:ease-in-out hover:shadow-2xl"
          aria-label="Packages"
          id="packages"
          href="?tab=packages"
        >
          <div class="">
            <img src="{{ asset('build/images/svg/packages-black.svg') }}" alt="Packages">
          </div>
          <span class="text-xs font-semibold">PACKAGES</span>
        </a>
        <a
          class="sidebar-icon px-7 pt-5 pb-3 flex flex-col items-center justify-center space-y-3 bg-tints-of-blue rounded-xl hover:transition hover:duration-300 hover:ease-in-out hover:shadow-2xl"
          aria-label="Collections"
          id="collections"
          href="?tab=collections"
        >
          <div class="">
            <img src="{{ asset('build/images/svg/collections-black.svg') }}" alt="share">
          </div>
          <span class="text-xs font-semibold">COLLECTIONS</span>
        </a>
        <a
          class="sidebar-icon px-7 pt-5 pb-3 flex flex-col items-center justify-center space-y-3 bg-tints-of-blue rounded-xl hover:transition hover:duration-300 hover:ease-in-out hover:shadow-2xl"
          aria-label="Branding"
          id="branding"
          href="?tab=branding"
        >
          <div class="">
            <img src="{{ asset('build/images/svg/branding-black.svg') }}" alt="Branding">
          </div>
          <span class="text-xs font-semibold">BRANDING</span>
        </a>
      </div>
      <div class="mt-auto"></div>
      <div class="space-y-[1px] w-36">
        <a
          class="sidebar-bottom-icon pl-4 pr-6 py-5 flex items-center justify-center space-x-3 bg-tints-blue hover:bg-accent-blue hover:transition hover:duration-300 hover:ease-in-out"
          aria-label="Upload"
          id="upload"
          href="?tab=upload"
        >
          <img src="{{ asset('build/images/svg/upload-black.svg') }}" alt="share">
          <span class="text-[14px] font-semibold">UPLOAD</span>
        </a>
        <a
          class="sidebar-bottom-icon pl-4 pr-6 py-5 flex items-center justify-center space-x-3 bg-tints-blue hover:bg-accent-blue hover:transition hover:duration-300 hover:ease-in-out"
          aria-label="account"
          id="account"
          href="?tab=account" 
        >
          <img src="{{ asset('build/images/svg/account-black.svg') }}" alt="Account">

          <span class="text-[14px] font-semibold">ACCOUNT</span>
        </a>

        <a
          class="pl-4 pr-6 py-5 flex items-center justify-center space-x-3 bg-tints-blue hover:bg-accent-blue"
          href="../index.html"
          aria-label="Logout"
        >
          <img src="{{ asset('build/images/logout.svg') }}" alt="" class="h-6" />
          <span class="text-[14px] font-semibold">LOGOUT</span>
        </a>
      </div>
    </aside>
    <!-- Navigation sidebar end-->